<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#/products">TheCarStore</a>
        </div>
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <input type="text" class="form-control" placeholder="Поиск" ng-model="search">
            </div>
        </form>

        <ul class="nav navbar-nav navbar-right" ng-hide="isAuthenticated()">
            <li><a href="#modal-1" eat-click data-toggle="modal"><span class="glyphicon glyphicon-user"></span> Зарегистрироваться</a></li>
            <li><a href="#modal-2" eat-click data-toggle="modal"><span class="glyphicon glyphicon-log-in"></span> Войти</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right" ng-show="isAuthenticated()">
            <li><p class="navbar-text">Добро пожаловать, {{currentUser.usrname}}!</p></li>

            <li><a href="" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Выйти</a></li>
        </ul>
    </div>
</nav>

<register></register>
<login></login>